!gruntfile.js
**/*.pubxml
**/Build.log
**/[Oo]bj/
**/deploy/*
**/styles/*.css
**/telemetry/*.js
**/telemetry/*.ts
**/telemetry/*.txt
**/telemetry/*.xml
**/vwd.webinfo
*.VC.opendb
*.js.map
*.suo
*.templates.ts
*.user

/node_modules
/src/.vs
/*debug.log